# c
*.o
ttex
pool_str.c1
deps.1

# codecov
*.gcno
*.gcda
*.gcov

# tex
*.log
*.dvi
*.pdf
*.fmt

# ide
.vscode/

# VS2019 --------------------
.vs/
VS2019/

# User-specific files
*.user

# Files built by Visual Studio
*.exe
*.ilk
*.pdb

# local test
# load plain.tex, *.tmf
_test/

# CMake build: to gen compile_commands.json
build/

# static analysis
Sourcetrail/

# docs
html/
